---
import MainLayout from 'src/layout/MainLayout.astro'
import NewsLetter from '@components/section/NewsLetter.astro'
---

<MainLayout>
	<!-- breadcrumbs -->
	<div class="bg-blue-100">
		<div class="section_container breadcrumbs px-8 py-8 text-sm">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/newsletter">NewsLetter</a></li>
			</ul>
		</div>
	</div>
	<NewsLetter />
</MainLayout>
