---
import MainLayout from 'src/layout/MainLayout.astro'
import NewsLetter from '@components/section/NewsLetter.astro'
import BreadCrumb from '@components/ui/BreadCrumb.astro'
---

<MainLayout>
	<!-- breadcrumbs -->
	<BreadCrumb>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/newsletter">NewsLetter</a></li>
		</ul>
	</BreadCrumb>
	<NewsLetter />
</MainLayout>
