---
import { Image } from 'astro:assets'
import saveTheWorld from '@assets/save_the_world.png'
import TitleWithDesc from '@components/ui/TitleWithDesc.astro'
import { Play } from 'lucide-react'
---

<section class="section_container py-8 sm:py-12 lg:pb-16 lg:pt-0">
	<div class="flex flex-col gap-5 sm:flex-row sm:items-center lg:justify-between">
		<div class="relative sm:w-[65%] md:w-[50%]">
			<Image src={saveTheWorld} alt="save the world flower" class="w-full bg-cover bg-center" />
			<div
				class="absolute right-0 top-0 flex flex-col gap-3 rounded-md bg-primary p-10 text-white sm:-top-14 sm:gap-5 sm:p-8 md:top-0 lg:px-20 lg:py-12"
			>
				<p class="">Lihat Video</p>
				<button class="mx-auto w-full max-w-fit rounded-full bg-white p-3 lg:p-5" type="button"
					><Play className="text-primary" /></button
				>
			</div>
		</div>
		<TitleWithDesc
			title="BERTUMBUH - Save The World "
			subtitle="Tentang Kami"
			description="BERTUMBUH - Adalah organisasi non-profit yang mempunyai tujuan untuk Melindungi, menjaga, merawat, dan melestarikan pohon-pohon yang ada di bumi ini"
			button="Lihat Selengkapnya"
			link="/about"
		/>
	</div>
</section>
