---
import TitleWithDesc from '@components/ui/TitleWithDesc.astro'
import blog2 from '../../../public/blog1.png'
import MainBlog from '@components/ui/MainBlog.astro'
import SideBlog from '@components/ui/SideBlog.astro'
import Btn from '@components/ui/Btn'

import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { HOMEPAGE_ARTICLE_LIMIT } from 'src/constant'
const allblogPost: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
	(a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
		b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const mainBlogPost: CollectionEntry<'blog'> = allblogPost[0]
const sideBlogPost: CollectionEntry<'blog'>[] = allblogPost.slice(1)
---

<section class="section_container py-8 md:py-12 md:pt-0 lg:pb-16">
	<div class="flex flex-col gap-8">
		<TitleWithDesc
			title="Artikel & Event Terbaru"
			subtitle="Baca Tulisan Kami"
			description="Baca dan ikuti event Bertumbuh"
		/>
		<div class="flex flex-col gap-8 sm:flex-row md:gap-14">
			<MainBlog blog={mainBlogPost} />
			<div class="flex flex-1 flex-col gap-6 md:gap-8">
				{sideBlogPost.map((blog) => <SideBlog blog={blog} />)}
			</div>
		</div>
		<Btn to="/blog" className="mx-auto w-full max-w-fit">Lihat Selengkapnya</Btn>
	</div>
</section>
