---
import Btn from '@components/ui/Btn'
import { Play } from 'lucide-react'
import tree from '@assets/tree.png'
import { Image } from 'astro:assets'
---

<section class="section_container mt-8">
	<div
		class="relative flex flex-col bg-primary/10 px-4 pt-5 sm:flex-row sm:gap-3 lg:px-10 lg:pt-10"
	>
		<div class="flex flex-1 flex-col gap-5 sm:pb-8 lg:gap-10 lg:pb-40">
			<h3
				class="sm:leading-tight: w-full max-w-[18rem] text-3xl font-medium leading-normal sm:max-w-[25rem] sm:text-4xl sm:leading-snug lg:max-w-none lg:text-[2.5rem] lg:leading-snug"
			>
				Bersama Lindungi Bumi Kita
				<span class="hidden sm:inline">Untuk Masa Depan</span>
			</h3>
			<p class="w-full max-w-sm leading-relaxed sm:max-w-md">
				Kami bermimpi untuk menanam lebih dari 10 juta pohon dan menciptakan dunia yang lebih indah
				dan asri untuk kita, dia, dan semua.
			</p>
			<div class="flex flex-col gap-4 md:flex-row">
				<Btn to="#" className="w-full max-w-fit">Eksplorasi Pertumbuhan</Btn>
				<Btn to="#" outline className="group w-full max-w-fit"
					><Play className="text-primary group-hover:text-white" /> Lihat Video</Btn
				>
			</div>
		</div>
		<div class="flex w-full items-end sm:w-1/2 md:justify-center lg:w-[45%]">
			<Image src={tree} alt="tree mobile" class="mx-auto sm:mx-0" />
		</div>
		<!-- desktop brand -->
		<div
			class="clip absolute bottom-0 left-0 z-20 hidden gap-8 bg-white py-8 pr-14 text-lg font-semibold uppercase text-gray-400 lg:flex"
		>
			<h5 class="w-full max-w-[6rem] text-center">DITLANCE</h5>
			<h5 class="w-full max-w-[6rem] text-center">OWTHEST</h5>
			<h5 class="w-full max-w-[6rem] text-center">NEOVASI</h5>
			<h5 class="w-full max-w-[6rem] text-center">ONAGO</h5>
		</div>
	</div>
	<!-- brand -->
	<div
		class="flex flex-wrap justify-center gap-8 py-8 text-lg font-semibold uppercase text-gray-400 md:gap-10 lg:hidden"
	>
		<h5 class="w-full max-w-[6rem] text-center">DITLANCE</h5>
		<h5 class="w-full max-w-[6rem] text-center">OWTHEST</h5>
		<h5 class="w-full max-w-[6rem] text-center">NEOVASI</h5>
		<h5 class="w-full max-w-[6rem] text-center">ONAGO</h5>
	</div>
</section>
