---
import Btn from "./Btn";
---

<section class="mt-10 container_section">
    <div class="flex gap-8 items-center flex-col-reverse lg:flex-row">
        <div class="flex gap-9 flex-col flex-1">
            <div class="flex flex-col gap-1">
                <h4 class="uppercase text-primary text-sm md:text-base tracking-wider font-bold">SUXZ MAKE IT EASY</h4>
                <h3 class="lg:text-6xl text-4xl leading-tight font-bold ">Find Your Way <br> Of Success</h3>
            </div>
            <p class="font-medium max-w-md w-full md:text-lg leading-relaxed">We help you to increase self-confidence and train yourself in a direction, and make you more creative in developing a work</p>
            <div class="flex gap-6 sm:items-center text-center sm:text-left flex-col sm:flex-row">
                <Btn to="#" className="lg:py-4 lg:px-10">Get Started</Btn>
                <Btn to="#" className="lg:py-4 lg:px-10" muted>Our Services</Btn>
            </div>
        </div>
        <div class="sm:w-1/2">
            <img src="/hero.png" alt="hero" class="bg-center bg-cover sm:w-full w-[80%]">
        </div>
    </div>
</section>