---
import CardItem from "./CardItem";
import TitleSection from "./TitleSection";
---

<section class="bg-secondary">
    <div class="flex flex-col gap-8 container_section py-16">
        <TitleSection section="learnings" 
        title="Online Learning Platform International Curriculum" description="Study and understand the material class is more relaxed without time limit."/>
        <div class="flex gap-8 flex-wrap justify-center sm:justify-between">
            <CardItem 
            title="Starter" 
            image="/starter.png" 
            description="Free class access for that start learning code and design"/>
            <CardItem 
            title="Starter" 
            image="/starter.png" 
            description="Free class access for that start learning code and design"/>
            <CardItem 
            title="Starter" 
            image="/starter.png" 
            description="Free class access for that start learning code and design"/>
            <CardItem 
            title="Starter" 
            image="/starter.png" 
            description="Free class access for that start learning code and design"/>
        </div>
    </div>
</section>